# SPDX-License-Identifier: MIT
# Copyright (c) 2026 Luluane (LuluaneS; Windows Ops by Luluane & Astrean (Starflame);
# https://github.com/LuluaneS/windows-ops). See LICENSE-CODE.
* text=auto eol=lf
*.md text eol=lf
*.yaml text eol=lf
